.header{
    background-image: url("../../Asset/header-ban.png");
    /* height: 862px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    /* margin-top: -21px; */
}
.background-layer{
    background-image: linear-gradient(to bottom, rgba(5, 11, 20, 0.28), rgba(1, 13, 32, 0.69), rgba(10, 11, 26, 1));
    /* height: 862px; */
}
.circleContainer{
    margin-top:240px;
    display: flex;
    justify-content:center;
}
.circle{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border:1px solid #aaa;
    margin:0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
  
}
@media only screen and (max-width:992px){
    .circle{
        width: 120px;
        height: 120px;
        margin: 0 10px;
    }
    .circleContainer{
        margin-top: 150px;
    }
}